.accountIcon {
    position: relative;
    display: inline;
    cursor: pointer;
  }
  
  .toggleoption_div {
    display: inline-block;
    position: absolute;
    width: 180px;
    padding: 10px 16px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(31, 31, 31);
    text-align: center;
    right: 20px;
    top: 70px;
    z-index: 10;
    box-shadow: 1px 1px 5px 2px grey;
  }
  
  .toggleoption {
    display: block;
    height: 30px;
    color: #202020;
    margin: 10px 0px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar-search {
      margin: 10px 0;
      width: 100%;
    }
  
    .search-bar {
      width: 100%;
    }
  
    .navbar-buttons {
      margin-top: 10px;
    }
  }