.sideBar {
  display: inline;
  height: auto;
  margin-top: 10px;

}

.sideoption_div {
  display: inline-block;
  height: auto;
  width: 250px;
  padding: 20px;
  background-color: rgb(187, 205, 238);
  border-radius: 15px;
}

.sidebar_option {
  display: block;
  color: black;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
}




