.playerContainer{
  display: flex;
  flex-direction: row;
  gap:50px;
  margin-top: 25px;
} 

.player {
  color: white;
  width: 700px;
  height: auto;
  margin-left: 40px;
}

.playerDesc {
  padding-top: 25px;
}

.playerAuthor {
  color: white;
  padding-left: 20px;
  font-size: 15px;
  cursor: pointer;
}

.playerTitle{
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.playerDescription {
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.playerList{
  display: inline-flex;
  flex-direction: row;
  width: 450px;
  margin-bottom: 15px;
  background-color: rgb(15, 14, 14);
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.playerList img{
  height: 110px;
  width: 180px;
  border-radius: 10px;
  display: inline;
}

.playerList h3{
  color: white;
  font-size: 15px;
  cursor:pointer;
}

.playerList-desc p{
  color: rgb(206, 204, 204);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  cursor: pointer;
}

.playerList-desc{
  padding: 10px;
  color: white;
  font-size: 15px;
  display: inline;
}